{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/li__1_-removebg-preview.ico' %}">
    <title>Sponsorship Opportunities</title>
    <link rel="stylesheet" href="{% static 'css/sponsor.css' %}">
</head>
<body>
    {% include 'navbar.html' %}


    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScvM1DBB-EqRIJUE3IWCg0XiI2wxwOS1J35s1WQJNHYG91QgA/viewform?embedded=true" width="100%" height="620" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    <div class="download">
        <h2>Download the Form</h2>
        <!-- Link to the downloadable PDF version of the form -->
        <a class="tag" href="https://drive.google.com/file/d/1quJi3q3lq8uLZtyEhKxNJz5c4M6VY8Cs/view?usp=sharing" target="_blank">Download Form as PDF</a>
    </div>

    {% include 'footer.html' %}
    

</body>
</html>
